<footer class="row-footer">
        <div class="container">
            <div class="row">             
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a ui-sref="app">Home</a></li>
                        <li><a ui-sref="app.aboutme">About Me</a></li>
                        <li><a ui-sref="app.tracks">My Music</a></li>
                        <li><a ui-sref="app.photos">My photos</a></li>
                        <li><a ui-sref="app.contactme">Contact Me</a></li>
                    </ul>
                </div>
                
                <div class="col-xs-12">
                    <p style="padding:5px;"></p>
                    <p align=center>© Copyright 2017 Burdan</p>

                </div>
            </div>
        </div>
    </footer>