

    <div class="container">
    <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="#">Home</a></li>
                   <li class="active">My Photos</li>
               </ul>
               </div>
        <div class="row row-content" ng-controller="PhotoController">
            <div class="col-xs-12" ng-if="!showPhoto">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showPhoto">
                
                
            <div class="tab-content">
               <ul class="media-list tab-pane fade in active">
               
                <li class="media" ng-repeat="photo in photos">
                    
                    <div class="media-body">
                        <h2 class="media-heading">{{photo.name}}</h2>
                        <p>{{photo.description}}</p>
                        <img class="media-object img-thumbnail"
                        ng-src={{photo.image}} width="100%">


                    </div>
                </li>
            </ul>
            </div>
            </div>
        </div>
    </div>

